{% extends 'main/layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="features">
        <h1> Специалист технической поддержки </h1>
        <p> Кто такой специалист техподдержки (саппорт)?</p>
        <p class="p-desc">Задача специалиста техподдержки — помочь пользователю решить его проблему с продуктом компании. Когда у нас не работает интернет и мы звоним провайдеру, то попадаем как раз на сотрудника техподдержки.

Все, кто работает в саппорте (от английского «support»: поддержка), должны хорошо знать свой продукт. Для этого в компании проводится обучение и аттестации — чаще всего без них новому сотруднику не доверят общаться с клиентом. Ещё хорошо бы иметь опыт в той же сфере, что и у компании.

На начальные позиции в поддержке можно прийти без опыта работы — вас научат базовым вещам.</p>
        <h2>Линии техподдержки</h2>



<p>Есть три линии техподдержки — первая, вторая и третья.</p>



<p><strong>Первая линия</strong> принимает все звонки и разруливает 80% всех проблем пользователей: у кого-то завис роутер, кто-то не включил миксер в розетку, у кого-то слетели настройки и надо перезагрузить устройство.&nbsp;</p>



<p>Работники первой линии пользуются самыми простыми рецептами, которые могут показаться слишком очевидными. Но дело в том, что большинство проблем можно решить именно так, поэтому они и идут по стандартным сценариям. Если проблема не решается, обращение переводят на сотрудника второй линии.</p>


<div class='blockquote-small'></p>



<p>Работа на первой линии — самая стрессовая: у всех что-то не работает, все на нервах и могут на эмоциях сказать лишнего. При этом сотрудник не виноват, что у клиента что-то сломалось — он как раз тут для того, чтобы решить эту проблему.</p>


<p></div>



<p><strong>Вторая линия</strong> решает те проблемы, с которыми не справилась первая: нестандартные случаи, конфликтные клиенты или там требуется более глубокое знание продукта.&nbsp;</p>



<p><strong>Третья линия</strong> — настоящие эксперты. Обычно это люди, которые знают продукт на уровне инженера или разработчика. Их время стоит дорого, поэтому до третьей линии доходят только самые сложные проблемы.&nbsp;</p>
        <button class="btn btn-warning">На страницу востребованность</button>

    </div>


{% endblock %}